body {
  background-color: rgb(54, 54, 54);
}

/* {
  margin: 0;
  font-family: Arial;
} */

.topnav {
  overflow: hidden;
  background-color: rgb(28, 30, 53);
}

.topnav a {
  float: left;
  color: #FFA500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:white;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.tren {
  overflow: hidden;
  background-color:white;
}
.err-msg{
  color: red ;
}
